body {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    text-indent: .3in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10;
    margin-bottom: 10;
    font-size: 1em;
}

h1,
h2,
h3 {
    text-align: center;
}

dl {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

dt span:first-child {
    font-weight: bold;
    margin-right: 0.5em;
    text-decoration: underline;
}

dd span:first-child {
    font-weight: bold;
    margin-right: 0.5em;
    text-decoration: underline;
}

dd dl {
    margin-top: 0em;
}

.tradicoes {
    margin-left: 0em;
}

.tradicoes dt {
    text-align: center;
}

.tradicoes dd {
    text-align: center;
    margin-bottom: 2em;
}