body {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    text-indent: .3in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10;
    margin-bottom: 10;
    font-size: 1em;
}

h1,
h2,
h3 {
    text-align: center;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

dd {
    text-align: center;
}

.tradicoes dd {
    margin-bottom: 2em;
}